body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    /* background-color: #e2e8f0; 
    background: url(../images/white.jpg) #2c5282;
    background-size: cover;
    color: #e2e8f0; 
    max-height: fit-content;
    background: url(../images/gray.jpg) #2c5282;
    background-size: contain; */
    max-height: fit-content;
    color: whitesmoke;
}

.top {
    background: rgb(60, 126, 170);
    background-size: contain;
    /* font-size: 3rem; */
    font-weight: 200;
    /* text-center text-5xl text-bold px-2 pb-8 */
}

#liveTyping {
    padding: 2rem;
    font-size: 1.875rem;
    text-align: center;
    color: rgb(60, 126, 170);
}

#maincontent {
    /* Masonry container */
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /* align-items: flex-start;
    justify-content: space-between; */
}


/* background: url(../images/blue.jpg) #2c5282; min-height: 50px;
    min-width: 50px; */
.sample {
    font-size: 2rem;
    font-variant: small-caps;
    flex: 1 1 auto;
    background: rgb(60, 126, 170);
    background-size: contain;
    margin: 2rem;
    max-width: 100%;
    border-radius: .5rem;
    border-style: solid;
    border-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.sample p {
    font-variant: normal;
    font-size: 1.25rem;
    margin: 1rem;
    color: rgb(21, 38, 71);
}

.sample:hover {
    color: rgb(21, 38, 71);
    background-color: whitesmoke;  
}

#writing2 {
    background-color: thistle;
}

#writing2:hover {
    background-color: whitesmoke; 
}

.myIcon {
    padding-left:2rem;
}

footer {
    text-align: center;
    font-size: 1.25rem;
    text-decoration:underline;
}
